.display{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 660px;
  padding: 20px;
  margin: 0;
  background-color:#858692;
  height: 60px;
  color: white;
  font-size: 70px;
  font-weight: bold; 
}